<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Select street</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <meta name="viewport" content="initial-scale=1.0;">
</head>
<body>
    {% if len(streets) == 0 %}
        <strong>We couldn't find a street like that. Please <a href="/">Try again</a></strong>
    {% else %}
        <p>We found a couple of matching streets, please select the street that matches</p>
        <ul>
            {% for street in streets %}
                <li><a href="/find?street={{ url_escape(street) }}">{{ escape(street) }}</a></li>
            {% end %}
            <li>or <a href="/">try again</a></li>
        </ul>
    {% end %}
</body>
</html>