<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{{ street }}</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="static/streetstatus.js"></script>
<body>
    <div class="content">
        <h2>{{ street }}</h2>
        <div class="account">
            {{ escape(name) }}
            <form class="checkin" method="post" action="/post">
                {{ xsrf_form_html() }}
                <input type="hidden" name="type" value="checkin" />
                <input id="checkin_button" type="submit" value="Check in" />
            </form>
            <form action="/logout" method="post">
                <input id="logout_button" type="submit" value="Logout" />
            </form>
        </div>

        <div class="col-set">
            <div class="notice-col">
                <div id="notice_form">
                    <ul class="tabs">
                        <li><a href="#question">Ask a question</a></li>
                        <li><a href="#info">Share information</a></li>
                        <li><a href="#problem">Report a problem</a></li>
                        <li><a href="#praise">Give praise</a></li>
                    </ul>
                    <div class="panes">
                        <div id="question">
                            <a name="question">Ask a question of your street</a>
                            <form class="notice" method="post" action="/post">
                                {{ xsrf_form_html() }}
                                <input type="hidden" name="type" value="question" />
                                <textarea id="message" cols="60" rows="4" name="message"></textarea><br />
                                <input class="post_button" type="submit" value="Post" />
                            </form>
                        </div>
                        <div id="info">
                            <a name="info">Share information with your street</a>
                            <form class="notice" method="post" action="/post">
                                {{ xsrf_form_html() }}
                                <input type="hidden" name="type" value="info" />
                                <textarea id="message" cols="60" rows="4" name="message"></textarea><br />
                                <input class="post_button" type="submit" value="Post" />
                            </form>
                        </div>
                        <div id="problem">
                            <a name="problem">Report a problem to your street</a>
                            <form class="notice" method="post" action="/post">
                                {{ xsrf_form_html() }}
                                <input type="hidden" name="type" value="problem" />
                                <textarea id="message" cols="40" rows="4" name="message"></textarea><br />
                                <input class="post_button" type="submit" value="Post" />
                            </form>
                        </div>
                        <div id="praise">
                            <a name="praise">Give praise to your street</a>
                            <form class="notice" method="post" action="/post">
                                {{ xsrf_form_html() }}
                                <input type="hidden" name="type" value="praise" />
                                <textarea id="message" cols="40" rows="4" name="message"></textarea><br />
                                <input class="post_button" type="submit" value="Post" />
                            </form>
                        </div>
                    </div>
                </div>

                <div class="notice-set">
                    {% for notice in notices %}
                        {% if notice['type'] == 'checkin' %}
                            <div class="checkin">
                                <div class="icon_checkin">
                                    
                                </div>
                                <div class="date">{{ format_delta(notice['dated']) }}</div>
                                <div class="name">{{ escape(notice['name'])}} checked in!</div>
                            </div>
                        {% else %}
                            <div class="notice {{ notice['type'] }}">
                                <div class="icon_{{ notice['type'] }}">
                                    {% if notice['type'] == 'question' %}
                                        ?
                                    {% elif notice['type'] == 'info' %}
                                        i
                                    {% elif notice['type'] == 'problem' %}
                                        !
                                    {% elif notice['type'] == 'praise' %}
                                        :)
                                    {% end %}
                                </div>
                                <div class="date">{{ format_delta(notice['dated']) }}</div>
                                <div class="name">{{ escape(notice['name'])}}</div>
                                <div class="message">{{ notice['message'] }}</div>
                            </div>
                        {% end %}
                    {% end %}
                </div>
             </div>
            <div class="info-col">
                <h4>Reports nearby</h4>
                {% for incident in nearby %}
                <div class="incident">
                    <div class="title">
                        <a href="http://eq.org.nz/report/view/{{ incident['id'] }}">{{ incident['title'] }}</a>
                    </div>
                    <div class="category">
                        {{ ', '.join([c['title'] for c in incident['categories']]) }}
                    </div>
                    <div class="location">
                        {{ incident['location']['name'] }}
                    </div>
                    <div class="distance">
                        Estimated {{ "%0.1f" % (incident['distance']/1000.0) }}km away
                    </div>
                    <div class="dated">
                        Reported {{ format_date(incident['dated']) }}
                    </div>
                </div>
                {% end %}
            </div>
        </div>
    </div>
</body>
</html>