@import url("reset.css");

@import url("text.css");
/* Reset to some base standard */
/* Set up text so it isn't completely awful */
/* Page */
html {
  background-color: white;
}
body {
  background-color: #eee;
  border: none;
  margin: 0px auto 0px auto;
  padding: 10px;
  position: relative;
  width: 768px;
  color: #222;
}
a {
  color: #722;
  text-decoration: none;
}
h2 {
  color: #444;
  border-bottom: 4px solid #555;
}
div.streetbox {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
  position: relative;
  top: -10px;
  left: -10px;
  width: 768px;
  font-size: 120%;
}
div.notice-set div.notice {
  position: relative;
  padding-bottom: 10px;
}
div.notice-set div.notice div.date {
  border-bottom: 2px solid #aaa;
  font-weight: bold;
}
div.notice-set div.notice div.name {
  position: absolute;
  right: 0px;
  top: 0px;
}
div.notice-set div.checkin {
  position: relative;
}
div.notice-set div.checkin div.date {
  display: inline;
  font-weight: bold;
}
div.notice-set div.checkin div.name {
  display: inline;
}
div.notice-set div.checkin div.note {
  display: inline;
}
form.checkin, form.notice {
  margin: 10px;
}
form.checkin label, form.notice label {
  display: block;
  font-weight: bold;
  font-size: 90%;
}
ul.tabs {
  margin: 0px 10px 0px 10px;
  padding: 0;
  list-style: none;
  height: 32px;
  /*--Set height of tabs--*/

  width: 100%;
}
ul.tabs li {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 31px;
  /*--Subtract 1px from the height of the unordered list--*/

  line-height: 31px;
  /*--Vertically aligns the text within the tab--*/

  margin-bottom: -1px;
  /*--Pull the list item down 1px--*/

  overflow: hidden;
  position: relative;
}
ul.tabs li a {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 1.0em;
  padding: 0 20px;
  outline: none;
}
ul.tabs li a.selected {
  background: #CCC;
}
ul.tabs li a:hover {
  background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover {
  /*--Makes sure that the active tab does not listen to the hover properties--*/

  background: #fff;
  border-bottom: 1px solid #fff;
  /*--Makes the active tab look like it's connected with its content--*/

}
div.panes {
  position: relative;
  margin-bottom: 40px;
}
div.panes div {
  position: relative;
  text-align: right;
}
div.panes div a[name] {
  position: absolute;
  bottom: 0px;
  left: 10px;
  font-weight: bold;
  color: #444;
}
div.panes div form {
  margin: 0px 10px 0px 10px;
}
div.panes div form textarea {
  width: 100%;
  height: 100px;
  margin: 0px;
}
div.notice-col {
  width: 468px;
}
div.info-col {
  width: 290px;
  position: absolute;
  top: 0px;
  right: 0px;
}
div.col-set {
  position: relative;
}
div.incident {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}
div.incident .distance {
  color: #444;
  margin-left: 10px;
}
div.incident .dated {
  color: #444;
  margin-left: 10px;
}
